body {
    background: #f2f2f2;
    color: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.header {
    background: #0d1b3d; 
    padding: 25px 0;
    text-align: center;
    color: #f2d16b; 
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border-bottom: 3px solid #f2d16b;
}

.header h1 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 15px;
}

.header nav ul li a {
    color: #f2d16b;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.header nav ul li a:hover,
.header nav ul li a.ativo {
    text-decoration: underline;
    color: #fff;
}


.titulo-pagina {
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
    color: #0d1b3d;
    font-weight: 700;
}

.texto-intro {
    text-align: center;
    max-width: 700px;
    margin: 20px auto;
    font-size: 18px;
    color: #444;
}


.card-deus {
    background: #ffffff;
    border-left: 6px solid #f2d16b;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

.card-deus h3 {
    color: #0d1b3d;
    font-weight: 700;
    margin-bottom: 15px;
}

.card-deus p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 10px;
    color: #333;
}

.card-deus ul {
    margin-left: 20px;
    font-size: 17px;
    color: #333;
}


.footer {
    background: #0d1b3d;
    color: #f2d16b;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
    border-top: 3px solid #f2d16b;
    box-shadow: 0 -3px 10px rgba(0,0,0,0.3);
}
